<% if flash[:notice] %>
  <div class="mx-auto w-3/4 md:text-lg bg-yellow-200"><%= flash[:notice] %></div>
<% elsif flash[:alert] %>
  <div class="mx-auto w-3/4 md:text-lg bg-red-300"><%= flash[:alert] %></div>
<% end %>
